.header {
  width: 100%;
  justify-content: space-between;
  height: 74px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  padding: 0 70px;
  display: flex;
}
@media screen and (max-width: 815px) {
  .header {
    padding: 0 30px;
  }
}
@media screen and (max-width: 525px) {
  .header {
    padding: 0 14px;
  }
}
.header__links {
  justify-content: center;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 815px) {
  .header__links {
    justify-content: space-between;
  }
}
.header__links_hidden_comp {
  width: 100%;
}
@media screen and (min-width: 821px) {
  .header__links_hidden_comp {
    display: none;
  }
}
@media screen and (max-width: 815px) {
  .header__links_hidden_mob {
    display: none;
  }
}
.header__link {
  padding: 0;
  justify-content: center;
  line-height: 18px;
  text-decoration: none;
  border: none;
  align-items: center;
  color: black;
  margin: 0 18px 0 0;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  font-weight: 400;
  background-color: inherit;
  transition: all 0.5s ease;
  font-family: 'Inter', sans-serif, Arial, Helvetica;
}
.header__link_account {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  width: 100px;
  border-radius: 20px;
  background-color: #f9f9f9;
  height: 32px;
  margin: 0;
}
.header__link_no-auth {
  margin-right: 30px;
  font-size: 12px;
  line-height: 16px;
}
@media screen and (max-width: 525px) {
  .header__link_no-auth {
    margin-right: 15px;
    font-size: 10px;
  }
}
.header__link_medium {
  font-weight: 500;
}
.header__link_type_button {
  padding: 8px 20px;
  color: white;
  border-radius: 3px;
  background-color: black;
  margin: 0;
}
@media screen and (max-width: 525px) {
  .header__link_type_button {
    padding: 5px 12px;
  }
}
.header__link:hover {
  opacity: 0.8;
}
.header__btn-menu {
  padding: 0;
  border: none;
  width: 44px;
  height: 41px;
  background: url('../../images/menu-icon.svg') center center/cover no-repeat;
  transition: all 0.5s ease;
  margin-right: 0px;
  cursor: pointer;
}
@media screen and (max-width: 525px) {
  .header__btn-menu {
    width: 40px;
  }
}
.header__btn-menu_close {
  position: fixed;
  top: 27px;
  right: 20px;
  display: block;
  display: block;
  height: 20px;

  z-index: 999;
  background: url('../../images/menu-close-icon.svg') center center/cover
    no-repeat;
  width: 34px;
}
@media screen and (max-width: 525px) {
  .header__btn-menu_close {
    top: 18px;
    width: 32px;
    right: 13px;
  }
}
.header__btn-menu:hover {
  opacity: 0.7;
}
.header__icon-menu {
  height: 16px;
  width: 22px;
}
