.like-button {
  justify-content: center;
  transition: all 0.5s ease;
  align-items: center;
  color: white;
  background-color: #f9f9f9;
  height: 24px;
  justify-self: end;
  cursor: pointer;
  border: none;
  width: 24px;
  display: flex;
  border-radius: 36px;
}
@media screen and (max-width: 815px) {
  .like-button {
    height: 21px;
    width: 23px;
  }
}
.like-button_active {
  color: #ff4062;
}
.like-button:hover {
  scale: 1.1;
}
